.notificationsMobile {
    min-height: 100vh;
    %notificationnn {
        position: absolute !important;
        bottom: 0 !important;
        right: -6px !important;
    }
    .mainIMG {
        width: 60px;
        height: 60px;
        border-radius: 50%
    }
    .sign {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
%notificationnn {
    position: absolute !important;
    bottom: 0 !important;
    right: -6px !important;
}
%commomn {
    color: white;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-comment-alt.nav {
    @extend %notificationnn;
    @extend %commomn;
    background: #48D06A;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-user.nav {
    @extend %notificationnn;
    @extend %commomn;
    background: #139AEC;

}
.notificationImg  {
    width: 25px !important;
    height: 25px !important;
    @extend %notificationnn;
}
}
.notificationsMobile.darkMode {
    background: #242526 !important;
    color: #B8BBBF !important;
}