<div 
[class.darkMode]="userProfilesService.userProfile?.darkMode"
class="notificationsMobile"

>
    <div 

class="container-fluid py-5 ">
 <div style="margin-left: 20px;margin-right: 20px;">
    <h1 class="font-weight-bold">{{'notificationsMobile.notificatios' | translate}}</h1>
    <ul class="m-0 list-unstyled p-0">
        <li>
            <ng-container  *ngIf="!userProfilesService?.myNotifications?.length && 
            !userProfilesService?.oldNotifications?.length;else notificationsContent">
                <p>{{'notificationsMobile.noNotifications' | translate}}</p>
            </ng-container>
        </li>
        <ng-template #notificationsContent>
        <li class="mb-3" 
        *ngFor="let item of userProfilesService?.myNotifications">
                   <div 
                   (click)="openNotification(item?._id,item?.post)"
                   *ngIf="item?.type !='follow' "
                   class="d-flex align-items-center">
                       <div class="position-relative">
                           <img class="mainIMG" [src]="item?.sender?.profilePhoto | gender : item?.sender?.gender" alt="">
                           <i *ngIf="item?.type=='comment';else react" class="fas fa-comment-alt nav"></i>
                         <ng-template #react>
                            <img class="notificationImg" [src]="'assets/'+item?.type+'.png'" alt="">
                         </ng-template>       
                       </div>
                       <div class="mx-3 w-100">
                          <strong>
                            {{item?.sender?.firstName | slice : 0 : 12}} {{item?.sender?.lastName | slice : 0 : 12}}
                          </strong> {{(item?.type=="comment" ? "notificationsMobile.commentedOn": "notificationsMobile.reactedTo") | translate }} {{'notificationsMobile.yourPost' | translate}} 
                          <div class="d-flex justify-content-between align-items-center">
                            <small> {{item?.createdAt | date : 'longDate' : undefined : lang}}</small>
                            <span class="sign bg-primary"></span>
                          </div>
                       </div>
                   </div>
                   <div 
                   (click)="openFollowNotification(item?.sender?._id,item?._id)"
                   *ngIf="item?.type =='follow' "
                   class="d-flex align-items-center">
                       <div class="position-relative">
                           <img class="mainIMG" [src]="item?.sender?.profilePhoto | gender : item?.sender?.gender" alt="">
                           <i *ngIf="item?.type=='follow'" class="fas fa-user nav"></i>    
                       </div>
                       <div class="mx-3 w-100">
                          <strong>
                            {{item?.sender?.firstName | slice : 0 : 12}} {{item?.sender?.lastName | slice : 0 : 12}}
                          </strong> {{'notificationsMobile.isFollowingYou' | translate}}
                          <div class="d-flex justify-content-between align-items-center">
                            <small> {{item?.createdAt | date : 'longDate' : undefined : lang }}</small>
                            <span class="sign bg-primary"></span>
                          </div>
                       </div>
                   </div>
        </li>
        <li class="mb-3" 
        *ngFor="let item of userProfilesService?.oldNotifications">
                   <div 
                   (click)="openNotification(item?._id,item?.post)"
                   *ngIf="item?.type !='follow' "
                   class="d-flex align-items-center">
                       <div class="position-relative">
                           <img class="mainIMG" [src]="item?.sender?.profilePhoto | gender : item?.sender?.gender" alt="">
                           <i *ngIf="item?.type=='comment';else react" class="fas fa-comment-alt nav"></i>
                         <ng-template #react>
                            <img class="notificationImg" [src]="'assets/'+item?.type+'.png'" alt="">
                         </ng-template>
                       </div>
                       <div class="mx-3 w-100">
                          <strong>
                            {{item?.sender?.firstName | slice : 0 : 12}} {{item?.sender?.lastName | slice : 0 : 12}}
                          </strong>
                           {{(item?.type=="comment" ? "notificationsMobile.commentedOn" : "notificationsMobile.reactedTo") | translate}}  {{'notificationsMobile.yourPost' | translate}}
                          <div class="d-flex justify-content-between align-items-center">
                            <small> {{item?.createdAt | date : 'longDate' : undefined : lang }}</small>
                          </div>
                       </div>
                   </div>
                   <div 
                   (click)="openFollowNotification(item?.sender?._id,item?._id)"
                   *ngIf="item?.type =='follow' "
                   class="d-flex align-items-center">
                       <div class="position-relative">
                           <img class="mainIMG" [src]="item?.sender?.profilePhoto | gender : item?.sender?.gender" alt="">
                           <i *ngIf="item?.type=='follow'" class="fas fa-user nav"></i>    
                       </div>
                       <div class="mx-3 w-100">
                          <strong>
                            {{item?.sender?.firstName | slice : 0 : 12}} {{item?.sender?.lastName | slice : 0 : 12}}
                          </strong>  {{'notificationsMobile.isFollowingYou' | translate}}
                          <div class="d-flex justify-content-between align-items-center">
                            <small> {{item?.createdAt | date : 'longDate' : undefined : lang }}</small>
                          </div>
                       </div>
                   </div>
        </li>
    </ng-template> 
    </ul>
 </div>
  
</div>
</div>