<div 
[class.darkMode]="userProfilesService.userProfile?.darkMode"
class="notificationsMobile">
    <div 

class="container py-5 ">
    <h1 class="font-weight-bold">Notifications</h1>
    <ul class="m-0 list-unstyled">
        <li>
            <ng-container  *ngIf="!userProfilesService?.myNotifications?.length;else notificationsContent">
                <p>No Notifications</p>
            </ng-container>
        </li>
        <ng-template #notificationsContent>
        <li class="mb-3" (click)="openNotification(item?._id,item?.post)"
        *ngFor="let item of userProfilesService?.myNotifications">
                   <div class="d-flex align-items-center">
                       <div class="position-relative">
                           <img class="mainIMG" [src]="item?.sender?.profilePhoto | gender : item?.sender?.gender" alt="">
                           <i *ngIf="item?.type=='comment';else react" class="fas fa-comment-alt nav"></i>
                         <ng-template #react>
                            <img class="notificationImg" [src]="'assets/'+item?.type+'.png'" alt="">
                         </ng-template>       
                       </div>
                       <div class="ml-3">
                          <strong>
                            {{item?.sender?.firstName | slice : 0 : 12}} {{item?.sender?.lastName | slice : 0 : 12}}
                          </strong> {{item?.type=="comment" ? "Cmomented on" : "Reacted to"}} your post <br> <small> {{item?.createdAt | date }}</small>
                       </div>
                   </div>
        </li>
    </ng-template> 
    </ul>
</div>
</div>