<div
[class.darkMode]="userprofileService.userProfile?.darkMode"
class="container">
    
    <div class=" paddinggx">
        <div class="row bg-white mb-5 mx-md-0 p-3 rounded-lg">
            <div class="col-md-12 mb-3">
              <div class="d-block d-md-flex justify-content-between align-items-center">
                <h2 class="font-weight-bold  mb-2 mb-md-0">{{'leftSide.following' | translate}}</h2>
                <div class="position-relative parentOfSearch">
                    <input [(ngModel)]="searchPipeValue" placeholder="{{'posts.search' | translate}}" type="search">
                     <i class="fas fa-search text-secondary"></i>
                </div>
              </div>
            </div>
            <ng-container *ngIf="userprofileService.skeltonLoadingForFollowing;else content">
                <div 
                *ngFor="let item of loadingCount"
                class="col-md-6 mb-3">
                 <div 
                 [class.darkMode]="userprofileService.userProfile?.darkMode"
                 class="fb-item bg-white postsLoadingg rounded-lg p-4">
                 <div class="first-section-wrapper d-flex align-items-center mb-3">
                     <div
                     class="item bg-white postsLoadingg">
                         <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                     width: '80px',
                     height: '80px',
                     'border-radius': '10px'
                   }">
                         </ngx-skeleton-loader>
                     </div>
                     <div class="gravatar-title mx-3">
                         <div>
                             <ngx-skeleton-loader [theme]="{
                       width: '90%',
                       'border-radius': '0',
                       height: '15px',
                       'margin-bottom': '10px'
                     }"></ngx-skeleton-loader>
                         </div>
                         <div>
                             <ngx-skeleton-loader
                                 [theme]="{ width: '70%', 'border-radius': '0', height: '15px' }">
                             </ngx-skeleton-loader>
                         </div>
                     </div>
                 </div>
             </div>
                </div>
           
             </ng-container>
             <ng-template #content>
            <ng-container *ngIf="userprofileService.following?.length;else noFollowing">
                <ng-container *ngIf="( userprofileService.following | search : searchPipeValue) as result">
                    <div class="col-md-6 mb-4" *ngFor="let item of userprofileService.following | search : searchPipeValue;let i = index">
                        <div class="d-flex  borderAround">
                            <div class="d-flex align-items-center" (mouseleave)='profileOnHover=-1'>
                                <div 
                                [routerLink]='["/visit",item?._id]'
                                class="overIMG" (mouseover)="profileOnHover=i" >
                                    <div>
                                        <img  
                                  
                                        [src]="item?.profilePhoto | gender : item?.gender" alt="">
                                    </div>
                                </div>
                               <div class="mx-3" (mouseover)="profileOnHover=i"  (mouseleave)='profileOnHover=-1'>
                                   <h2  
                                   [routerLink]='["/visit",item?._id]'
                                   class="userName mb-1">{{item?.firstName | titlecase | slice : 0 : 12}}
                                       {{item?.lastName | titlecase | slice : 0 : 12}}</h2>
                                       <p class="text-secondary m-0"><i class="far fa-calendar-alt"></i> <span class="mx-1"> {{'posts.bornOn' | translate}}</span>
                                          {{item?.birthDate |date : "longDate" : undefined : lang}}</p>
                                          <div *ngIf="profileOnHover==i" class=" profileOnHover bg-white rounded-lg p-3">
                                              <div class="d-flex align-items-center">
                                              <div>
                                                <div 
                                                [routerLink]='["/visit",item?._id]'
                                                class="overIMG">
                                                    <img
                                                  
                                                    class="profile" [src]="item?.profilePhoto | gender : item?.gender " alt="">
                                                </div>
                                              </div>
                                                  <div class="mx-3">
                                                      <h2
                                                      [routerLink]='["/visit",item?._id]'
                                                      class="mb-2">{{item?.firstName |
                                                          titlecase | slice : 0 : 12}}
                                                          {{item?.lastName | titlecase | slice
                                                          : 0 : 12}}</h2>
                                                      <p><i class="far fa-calendar-alt"></i> <span class="mx-1">{{'posts.bornOn' | translate}}</span>
                                                          {{item?.birthDate |date : "longDate" : undefined : lang}}</p>
                                                  </div>
                                              </div>
                                          </div>
                               </div>
                             </div>
                        </div>
                    </div>
                    <h2 
                    *ngIf="result?.length === 0"
                    class="text-center mx-auto my-0 pb-4 font-weight-bold text-secondary">
                        {{'leftSide.noResultFor' | translate}} {{searchPipeValue}}
                    </h2>
                </ng-container>
                
          
            </ng-container>
            <ng-template #noFollowing>
                <h2 class="text-center mx-auto my-0 pb-4 font-weight-bold text-secondary">
                    {{'leftSide.noFriends' | translate}} {{searchPipeValue}}
                </h2>
            </ng-template>
        </ng-template>
            
        </div>
        <div class="row bg-white mx-md-0 p-3 rounded-lg">
            <div class="col-md-12 mb-3">
                <div class="d-block d-md-flex justify-content-between align-items-center">
                    <h2 class="mb-2 mb-md-0 font-weight-bold">{{'leftSide.followers' | translate}}</h2>
                    <div class="position-relative parentOfSearch">
                        <input [(ngModel)]="searchPipeValueTwo" placeholder="{{'posts.search' | translate}}" type="search">
                         <i class="fas fa-search text-secondary"></i>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="userprofileService.skeltonLoadingFollowers;else contentTwo">
                <div
                *ngFor="let item of loadingCount"
                class="col-md-6 mb-3">
                 <div 
                 [class.darkMode]="userprofileService.userProfile?.darkMode"
                 class="fb-item bg-white postsLoadingg rounded-lg p-4">
                 <div class="first-section-wrapper d-flex align-items-center mb-3">
                    <div
                    class="item bg-white postsLoadingg">
                        <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                    width: '80px',
                    height: '80px',
                    'border-radius': '10px'
                  }">
                        </ngx-skeleton-loader>
                    </div>
                     <div class="gravatar-title mx-3">
                         <div>
                             <ngx-skeleton-loader [theme]="{
                       width: '90%',
                       'border-radius': '0',
                       height: '15px',
                       'margin-bottom': '10px'
                     }"></ngx-skeleton-loader>
                         </div>
                         <div>
                             <ngx-skeleton-loader
                                 [theme]="{ width: '70%', 'border-radius': '0', height: '15px' }">
                             </ngx-skeleton-loader>
                         </div>
                     </div>
                 </div>
             </div>
                </div>
             </ng-container>
        <ng-template #contentTwo>
            <ng-container *ngIf="userprofileService.followers?.length;else noFollowers">
                <ng-container *ngIf="( userprofileService.followers | search : searchPipeValueTwo) as resultTwo">
                    <div class="col-md-6 mb-4" 
                    *ngFor="let item of userprofileService.followers | search : searchPipeValueTwo;let i = index">
                        <div class="d-flex  borderAround">
                            <div class="d-flex align-items-center" (mouseleave)='followersOnHover=-1'>
                                <div 
                                [routerLink]='["/visit",item?._id]'
                                class="overIMG" (mouseover)="followersOnHover=i" >
                                    <img  
                                    
                                    [src]="item?.profilePhoto | gender : item?.gender" alt="">
                                </div>
                               <div class="mx-3" (mouseover)="followersOnHover=i"  (mouseleave)='followersOnHover=-1'>
                                   <h2  
                                   [routerLink]='["/visit",item?._id]'
                                   class="userName mb-1">{{item?.firstName | titlecase | slice : 0 : 12}}
                                       {{item?.lastName | titlecase | slice : 0 : 12}}</h2>
                                       <p class="text-secondary m-0"><i class="far fa-calendar-alt"></i> <span class="mx-1">{{'posts.bornOn' | translate}}</span> 
                                          {{item?.birthDate |date : "longDate" : undefined : lang}}</p>
                                          <div *ngIf="followersOnHover==i" class=" profileOnHover bg-white rounded-lg p-3">
                                              <div class="d-flex align-items-center">
                                                <div>
                                                    <div  class="overIMG" [routerLink]='["/visit",item?._id]'>
                                                        <img
                                                        
                                                        class="profile" [src]="item?.profilePhoto | gender : item?.gender" alt="">
                                                    </div>
                                                </div>
                                                  <div class="mx-3">
                                                      <h2 
                                                      [routerLink]='["/visit",item._id]'
                                                      class="mb-2">{{item?.firstName |
                                                          titlecase | slice : 0 : 12}}
                                                          {{item?.lastName | titlecase | slice
                                                          : 0 : 12}}</h2>
                                                      <p><i class="far fa-calendar-alt"></i> <span class="mx-1">{{'posts.bornOn' | translate}}</span>
                                                          {{item?.birthDate |date : "longDate" : undefined : lang}}</p>
                                                  </div>
                                              </div>
                                          </div>
                               </div>
                             </div>
                        </div>
                    </div>
                    <h2 
                    *ngIf="resultTwo?.length === 0"
                    class="text-center mx-auto my-0 pb-4 font-weight-bold text-secondary">
                    {{'leftSide.noResultFor' | translate}} {{searchPipeValueTwo}}
                    </h2>
                </ng-container>
             
              
            </ng-container>
            <ng-template #noFollowers>
                <h2 class="text-center mx-auto my-0 pb-4 font-weight-bold text-secondary">
                    {{'leftSide.noFollowers' | translate}}  
                </h2>
            </ng-template>
        </ng-template>
        
        </div>
    </div>
</div>
