<div class=" add-post bg-white p-3 mb-3 rounded-lg"
[class.darkMode]="userProfilesService.userProfile?.darkMode"
>
    <div class="d-flex align-items-center ">
        <img  
        routerLink='/myProfile'
        class="smllProfileImg mr-3"
         [src]="userProfilesService.userProfile?.profilePhoto | gender :  userProfilesService.userProfile?.gender" alt="">
        <p class="m-0 w-100 px-3 py-2" (click)="openModal(template)">
            What's on your mind, {{userProfilesService.userProfile?.firstName | titlecase | slice : 0 : 12}}?
        </p>

    </div>
    <hr class="my-2">
    <div class="d-flex justify-content-between align-items-center text-secondary font-weight-bold">
        Add to your post
        <div class="d-flex align-items-center  photoIcon p-2" (click)="openModal(template)"
            style="cursor: pointer;">
            <span class="iconn mr-2"></span> Photo
        </div>
    </div>
</div>
<!-- start add post modal -->
<ng-template #template>
    <div *ngIf="postLoading" class="postLoading d-flex justify-content-center align-items-center">
        <div class="text-center">

            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <p [class.darkMode]="userProfilesService.userProfile?.darkMode" class="font-weight-bold text-white">
                    posting</p>
            </div>
        </div>
    </div>
    <div [class.popupDarkMode]="userProfilesService.userProfile?.darkMode">
        <div class="modal-header">

            <h2 class="modal-title pull-left text-center w-100">Create Post</h2>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="d-flex align-items-center mb-2">
                <img class="smllProfileImg mr-3" 
                [src]="userProfilesService.userProfile?.profilePhoto | gender :  userProfilesService.userProfile?.gender" alt="">
                <h2>{{userProfilesService.userProfile?.firstName | titlecase | slice : 0 : 12}}
                    {{userProfilesService.userProfile?.lastName | titlecase | slice : 0 : 12}}</h2>
            </div>
            <form [formGroup]="postForm" (ngSubmit)='makeApost(postForm.value)'>

                <textarea class="p-3 rounded-lg" [attr.dir]="'auto'" formControlName='content'
                    placeholder="What's on your mind?"></textarea>

                <div class="parentOfimg position-relative mb-2" *ngIf="imgUrl">
                    <i class="fas fa-times" (click)="deletePostImg(input)"></i>
                    <img [src]="imgUrl" class="w-100" alt="">
                </div>
                <div
                    class=" toYourPost d-flex justify-content-between align-items-center text-secondary font-weight-bold">
                    Add to your post
                    <div class="position-relative d-flex align-items-center  photoIcon p-2">
                        <span class="iconn mr-2"></span> <span>Photo</span>
                        <input accept="image/*" #input (change)="selectPostImg($event)" type="file">
                    </div>
                </div>


                <button [disabled]='postForm.invalid' type="submit" class="btn btn-primary w-100 mt-3 post">
                    Post</button>
            </form>
        </div>
    </div>

</ng-template>
<!-- end add post modal -->