<div 
[class.darkMode]="userProfilesService.userProfile?.darkMode"
class="notFound d-flex justify-content-center align-items-center">
     <div class="notFoundWidth text-center">
          <img [src]="userProfilesService.userProfile?.darkMode ? 'assets/darkModeNotFound.PNG' : 'assets/notfound.PNG'" alt="">
          <h2 class="font-weight-bold text-secondary">{{"notFound.title" | translate}}</h2>
          <p class="my-2">{{"notFound.message" | translate}}</p>
          <button class="btn btn-primary" routerLink='/homePage'>{{"notFound.goToNewsFeed" | translate}}</button>
     </div>
</div>